.nav-bar {
  position: absolute;
  top: 20px;
  width: 100%;
}
.nav-pad {
  position: relative;
  width: 25%;
  opacity: 0;
}

.btn-pad {
  position: relative;
  width: 3%;
  opacity: 0;
}

.btn-nav {
    position: relative;
    width: 10%;
    height: 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    align-items: center;
    text-align: center;
  
    color: #000000;
    background: #F5F5F5;
    opacity: 0.85;
    border-radius: 40px;
    border-width: 0.5px;
  }