.modal {
    position: absolute;
    min-width: 576px;
    top: 40%;
    left: 35%;
    background-color: #f5f5f5;
    opacity: 0.95;
    text-align: center;
    justify-content: center;
    border-radius: 40px;
}
