.btn-home {
    position: absolute;
    width: 232px;
    height: 40px;
    left: 359px;
    top: 20px;
  
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    align-items: center;
    text-align: center;
  
    color: #000000;
    background: #F5F5F5;
    opacity: 0.85;
    border-radius: 40px;
    border-width: 0.5px;
  }
  
  .btn-route {
    position: absolute;
    width: 232px;
    height: 40px;
    left: 641px;
    top: 20px;
  
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    align-items: center;
    text-align: center;
  
    color: #000000;
    background: #F5F5F5;
    opacity: 0.85;
    border-radius: 40px;
    border-width: 0.5px;
  }
  
  .btn-repair {
    position: absolute;
    width: 232px;
    height: 40px;
    left: 923px;
    top: 20px;
  
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    align-items: center;
    text-align: center;
  
    color: #000000;
    background: #F5F5F5;
    opacity: 0.85;
    border-radius: 40px;
    border-width: 0.5px;
  }
  
  .btn-racks {
    position: absolute;
    width: 232px;
    height: 40px;
    left: 1205px;
    top: 20px;
  
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    align-items: center;
    text-align: center;
  
    color: #000000;
    background: #F5F5F5;
    opacity: 0.85;
    border-radius: 40px;
    border-width: 0.5px;
  }
  
  .btn-add {
    position: absolute;
    width: 232px;
    height: 40px;
    left: 1487px;
    top: 20px;
  
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    align-items: center;
    text-align: center;
  
    color: #000000;
    background: #F5F5F5;
    opacity: 0.85;
    border-radius: 40px;
    border-width: 0.5px;
  }

  .cloud {
    height: 80px;
    position: absolute;
    z-index: 990;
    justify-content: start;
    top: 0px;
    right: 0px;
    align-items: center;
  }

.nav-cloud {
  color: #808080;
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 60px;
  height: 30px;
  width: 30px;
  opacity: 0.85;
  background: none;
}